/* game board table */


#board td {
  width: 50px;
  height: 50px;
  border: solid 1px rgb(27, 27, 142);
  position: relative;

}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  position: relative;
}

.piece.p1 {
  background-color: red;
  border: 0.2em solid rgb(160, 36, 36);
}

.piece.p2 {
  background-color: blue;
  border: 0.2em solid rgb(27, 27, 142)
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
  border-radius: 50%;
  
}


